@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&display=swap");
body, html {
  background-color: rgb(10, 21, 38);
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.video-background video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-background .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(to top, rgb(10, 21, 38), transparent);
  pointer-events: none;
}

@media (max-width: 768px) {
  .video-background::after {
    height: 40%;
  }
}
@media (max-width: 576px) {
  .video-background::after {
    height: 50%;
  }
}
.navbar-transparent {
  background-color: transparent !important;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar-transparent .navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white !important;
  font-weight: 600;
}
.navbar-transparent .navbar-nav .nav-link {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.navbar-transparent .navbar-nav .nav-link:hover {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff;
}
@media (max-width: 767.98px) {
  .navbar-transparent .navbar-nav {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-transparent .navbar-nav {
    margin-left: auto;
  }
}

.floating-social-icons {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.floating-social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  transition: transform 0.3s, text-shadow 0.3s;
}
.floating-social-icons a:hover {
  transform: scale(1.1);
  color: #ffffff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.5), 0 0 80px rgba(255, 255, 255, 0.5);
}
@media (max-width: 768px) {
  .floating-social-icons {
    top: auto;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    flex-direction: row;
  }
  .floating-social-icons a {
    margin-bottom: 0;
    margin-right: 5px;
  }
}

.image-text-container .image-text-item {
  margin-top: 4rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.image-text-container .image-text-item img {
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.image-text-container .image-text-item p {
  color: #ffffff;
  font-size: 1.2rem;
  margin-right: 20px;
  flex: 1;
}
@media (max-width: 768px) {
  .image-text-container .image-text-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .image-text-container .image-text-item img {
    width: 100%;
  }
  .image-text-container .image-text-item p {
    margin-right: 0;
    margin-top: 10px;
    text-align: center;
  }
}/*# sourceMappingURL=innovasoftstyle.css.map */
#services {
  padding: 200px 0;
}

#services .header {
  text-align: center;
  margin-bottom: 50px;
}

#services .header h2 {
  font-size: 46px;
  font-weight: bold;
  color: white;
}

#services .header p {
  font-size: 18px;
  color: white;
}

#services .services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#services .service {
  flex: 1;
  min-width: 280px; 
  max-width: 30%; 
  display: flex;
  justify-content: center;
}

#services .card {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(13, 7, 7, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
}

#services .card:hover {
  transform: translateY(-12px);
  box-shadow: 0 12px 24px rgba(19, 18, 18, 0.15);
}

.services .card img {

  width: 50%; 
  height: auto; 
  max-width: 100px;
  margin-bottom: 15px; 
  object-fit: cover; 
  border-radius: 10px;
}
#services .card h4 {
  margin-top: 20px;
  font-size: 26px;
  color: #333;
}

#services .card p {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

#services .card a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s;
}

#services .card a:hover {
  background-color: #1158dc;
}

@media (max-width: 768px) {
  #services .service {
    max-width: 100%;
    margin-bottom: 20px;
  }
}/*Hizmetler*/

.about-section {
  display: flex;
  align-items: center;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.content-info {
  flex: 1;
  padding: 20px;
  font-weight: bold;
}

.about-title {
  font-size: 2em;
  color: #cc971b;
  margin-bottom: 20px;
}
.about-p{
  color: white;
}
.communication-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 700px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.communication-button:hover {
  background-color: #cc971b;
}

.content-image {
  flex: 0 0 40%;
}

.content-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}/*Hakkımızda*/

.technology-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title-wrap {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  padding: 10px;
  height: 200px;
  width: 400px;
}

.technology-layout-grid {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.technology-wrap,
.technology-wrap-right {
  position: absolute;
}

.technology-wrap {
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.technology-wrap-right {
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.logo {
  width: 80px;
  height: 80px;
  max-width: 100%;
  max-height: 100%;
  margin: 5px;
}

.form-title {
  font-size: 2em;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 30px;
}

.form-subtitle {
  font-size: 1.2em;
  color:white;
  margin: 5px 0;
}/*Teknolojiler*/